@import url("simple.css");
@import url("spacing.css");

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    --accent: #53a9ef;
    --accent-hover: color-mix(in srgb, var(--accent) 90%, #fff);
  }
}

.text-accent {
  color: var(--accent);
}

.site-title {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 300px;
  }
}

@media (min-width: 960px) {
  .wide-media {
    --width: min(65rem, 95vw);
    width: var(--width);
    margin-left: calc(50% - var(--width) / 2);
  }

  .wide-media video {
    width: 100%;
  }
}
