  <p class="mb-none">
    <a href="https://github.com/blakewatson/scroll-my-mac/releases/latest" class="button">
      <i class="fa-whiteboard fa-semibold fa-arrow-down-to-line"></i>
      Download for macOS
    </a>
  </p>